*,
*::before,
*::after{
    box-sizing: border-box;
}

html{
    --blue: #0094ff;
    --white: #ffffff;
    --grey: #808080;
    --black: #000000;
    --wrapW: 1920px;
    --contW: 1215px;
}

body{
    background: var(--white);
    font-family: 'Montserrat', sans-serif;
}

.min{
    display:none;
}

.wrapper{
    max-width: var(--wrapW);
    margin: 0 auto;
}

.container{
    border: 1px solid #5c5c5c;
    max-width: var(--wrapW);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
}

nav ul{
    list-style: none;
    display: flex;
    margin: 0; 
    padding:0;
}

button{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--grey);
    display: block;
    padding: 50px 50px;
    font-size: 15px;
    transition: 0.5s;
    font-weight: bold; 
    border: none;
    background-color: white;
    width: 170px;
}

button:hover{
    color: var(--blue);
    background: rgb(189, 188, 188);
    border: none;
}

nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--grey);
    display: block;
    padding: 50px 50px;
    font-size: 15px;
    transition: 0.5s;
    font-weight: bold;
}

nav a:hover{
    color: var(--blue);
    background: rgb(189, 188, 188);
}

header .container{
    align-items: center;
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    color: var(--blue);
    font-weight :bold;
    font-size : 30px;
    padding: 10px 20px;
    display: block;
    border: 2px solid #9d9d9d; 
    position: relative;
    border-radius: 12px;
}

.logo::after {
    content: "landing";
    text-transform: lowercase;
    font-size: 14px;
    color: var(--blue);
    font-weight: normal;
    padding: 0 12px;
    background: white;
    position: absolute;
    top: 50px;
    left: 143px;
}

@media(max-width:1000px){
    header .container{
        flex-direction: column;
        padding-top: 15px;
    }

    nav{
        margin-top: 30px;
        width: 100%;
    }
    
    nav li{
        flex-grow: 1;
    }

    nav a{
        text-align:center;
        padding: 40px 0;
    }
}

@media(max-width:800px){
    .min{
        display:block;
        background: var(--blue);
        width: 100%;
        padding: 25px 0;
        border: none;
        cursor: pointer;
        color: var(--white);
        font-size: 12px;
        font-weight: 900;
        text-transform: uppercase;
        outline:none;
    }
    nav ul{
        flex-direction:column;
        display:none;
    }
    nav a{
        padding: 25px 0;
        background: var(--blue);
        color: var(--white);
        border-top: 2px solid var(--white);
    }
    nav a:hover {
        background: #7399f5;
        color: var(--grey);
    }
}

/*====================================*/





.section-inner{
    width: 1200px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.section-header{
    background: url(3.jpg) no-repeat 50% 50%;
    background-size: cover;
    position: relative;
    max-width: var(--wrapW);
}

.setction-header-content{
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.section-header-wrapper{
    margin: 0 auto;
}

.title{
    color: white;
    text-align: center;
    font-size: 46px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
}

.subtitle{
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    line-height: 30px;
    margin-bottom: 16px;
    font-family: 'Montserrat', sans-serif;
}

.form{
    display: flex;
    
}

.input{
    flex: 1;
}
input{
    border: none;
    background: rgba(255, 255, 255, .25);
    color: white;
    font-size: 18px;
    margin: 0;
    padding: 15px 20px;
    outline: none;
    border-radius: 8px;
    width: 100%;
    transition: 0.2s;
}

input::placeholder{
    color: white;
} 

input:focus{
    background: rgba(255, 255, 255, .5);
}


.button{
    padding-left: 30px;
    display: flex;
}

.button1{
    margin: 0;
    padding: 15px 100px;
    font-size: 18px;
    border: none;
    background: linear-gradient(to left, var(--blue), #39b67a);
    outline: none;
    border-radius: 8px;
    color: white;
    flex-grow: 1;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    text-decoration: none;
}
.button1:hover{
    background: linear-gradient(to left, #39b67a, var(--blue));
}

/*========================================*/

.section-start{
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.advert-1{
    display: flex;
}

.content{
    padding-left: 70px;
    flex-basis: 50%;
}

.photo{
    flex-basis: 50%;
    background: url(5.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}

.title_s{
    color: rgb(43, 43, 43);
    font-size: 35px;
    line-height: 50px;
    font-weight: bold;
    font-family: 'Montserrat' sans-serif;
}

.subtitle_s{
    color: rgb(43, 43, 43);
    font-size: 16px;
    line-height: 35px;
    font-weight: bold;
    font-family: 'Montserrat' sans-serif;
}

.text_s{
    color: var(--grey);
    font-size: 14px;
    line-height: 25px;
    font-weight: 300;
    font-family: 'Montserrat' sans-serif;
}

.advert-2{
    display: flex;
    padding-top: 90px;
    margin-top: 130px;
    border-top: 2px solid rgb(209, 209, 209);
    border-bottom: 2px solid rgb(209, 209, 209);
    padding-bottom: 90px;
}

.promo{
    display: flex;
    margin: 0 auto;
}

.text_p{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: bold;
    color: rgb(43, 43, 43);
}

/*================================*/


.section-free{
    text-align: center;
    color: white;
    background: linear-gradient(to left, var(--blue), #31a56d);
    padding-top: 90px;
    padding-bottom: 90px;
    height: 55vh;
}

.title_f{
    font-size: 60px;
    line-height: 50px;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 20px;
    font-family: 'Lato',sans-serif;
}

.text_f{
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    width: 50%;
    margin: 0 auto 46px;
}

.button-2{
    margin: 0;
    padding: 15px 100px;
    font-size: 18px;
    border: 1px solid rgba(24, 24, 24, 0.705);
    background-color: white;
    outline: none;
    border-radius: 8px;
    flex-grow: 1;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: rgb(37, 37, 37);
    font-weight: bold;
    transition: .2s;
}

.button-2:hover{
    color: var(--blue);
    border-color: var(--blue);
}

/*=================================*/

.section-footer{
    padding-top: 100px;
}

.section-footer .section-inner{
    height: 0vh;
}

.logo_f{
    text-align: center;
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
    margin-bottom: 30px;
}

.nav_f{
    display: flex;
    justify-content: center;
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
}

.nav_f li + li{
    margin-left: 50px;
}

.nav_f a{
    font-size: 12px;
    line-height: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(46, 46, 46, 0.705);
    text-decoration: none;
    transition: 0.2s;
}

.nav_f a:active{
    color: var(--blue);
}

.nav_f a:hover{
    color: var(--blue);
}

.copyright{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: rgba(46, 46, 46, 0.705);
    margin: 0 auto;
    width: 60%;
}

.help{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.help li + li{
    margin-left: 50px;
}

.help a{
    text-decoration: none;
    color: rgba(46, 46, 46, 0.705);
}

.help a:hover{
    text-decoration: underline;
}

/*=====================================*/

.quiz{
    margin: 0 auto;
    width: 170px;
    font-family: 'Montserrat',sans-serif;
}

.question-item,
.results-item{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
}

.answer-input{
    width: auto;
}

.answer-item{
    margin: 0;
    padding: 0;
    list-style: none;
}

.indicator,
.results,
.questions{
    margin-bottom: 20px;
}

.results{
    display: none;
}

.restart{
    display: none;
}

.questions--hidden,
.indicator--hidden,
.next--hidden{
    display: none;
}

.results--visible,
.restart--visible{
    display: block;
}

.answer--invalid{
    color: red;
}

.answer-valid{
    color: green;
}

.overlay{
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.6);
    display: none;
    cursor: pointer;
}


.overlay.active{
    display: block;
}

.overlay .flex-popap{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay .flex-popap .popap{
    position: relative;
    background-color: #fff;
    padding: 25px 25px;
    margin: 0 10px;
    max-width: 300px;
    overflow: auto;
    transition: 0.5s;
}

.popap span {
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Montserrat',sans-serif;
  }


/*======================================*/

.overlay2{
    position: fixed;
    z-index: 5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.98);
    display: none;
    cursor: pointer;
}
.overlay2.active{
    display: block;
}
.overlay2 .flex-popap2{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in 2s;
}

#current_date_time_block{
    font-size: 100px;
    line-height: 50px;
    color: white;
}



 